<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/logs/nlog-internal.log">

	<targets>
		<!-- Main log file -->
		<target name="all" xsi:type="File"
		        fileName="${basedir}/logs/all.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
		        keepFileOpen="false"
		        concurrentWrites="true" />

		<!-- Error log file -->
		<target name="errors" xsi:type="File"
		        fileName="${basedir}/logs/errors.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
		        keepFileOpen="false"
		        concurrentWrites="true" />

		<!-- Console for debugging -->
		<target name="console" xsi:type="Console"
		        layout="${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<!-- All logs to the main file and console -->
		<logger name="*" minlevel="Trace" writeTo="all,console" />

		<!-- Errors to the error log file -->
		<logger name="*" minlevel="Error" writeTo="errors" />
	</rules>
</nlog>