@page "/unauthorized"

<div class="unauthorized-container">
    <h1 class="unauthorized-title">⛔ Accès Refusé</h1>
    <p class="unauthorized-message">Vous n’avez pas les autorisations nécessaires pour accéder à cette page.</p>
    <a class="btn-primary" href="/">Retour à l'accueil</a>
</div>