@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @if (NavigationManager.Uri.EndsWith("/login") || NavigationManager.Uri.EndsWith("/") || NavigationManager.Uri.EndsWith("/register"))
    {
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    else
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
</div>